#footer{
    padding: 30px;
    background: #66014d;
    color:white;
}
#footer a, #footerDivider a{
    
    color:white;
    text-decoration: none;
}
#footerDivider{
    color:white;
    background: #381b31;
}
#main img{
    max-height: 100vh;
    object-fit: cover;
    filter: grayscale(80%);
}
#carousel{
    position:relative;

}
#carousel .overlay{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    color:white;
    background-color: rgba(0,0, 0, 0.5);
}
#carousel .overlay .container,
#carousel .overlay .row{
height: 100%;
}
#Claseonline{
    background: gray;
    color: white;
}

#Claseonline img{
    max-width: 100%;

}
.btn-tecnoeduca{
    background-color: #566573;
    color: white;
}

.btn-tecnoeduca:hover{
    background-color: white;
    color: black;
}

#registro{
    color:red;
    margin-top: 56px;
    margin-bottom: 80px;
}
